#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;            /* Footer height */
  }
  
  .container {
    display: flex;
  }
  
  .chart1{
      float: left;
      width: 1000px;
      height: 600px;
  }
  
  .chart2{
      float: right;
  }